body{
    background-color: rgb(235, 235, 217);
    border: double
    margin : 0;
}


table,th,td{
    border: 1px solid black ;
    padding: 6px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto
    
}
div th  {
    padding-right: 14px
    text-align: center;
    border: 5px solid rgb(185, 185, 185);
    
}

th td{

    padding: 200px;
}
div{
    margin-top: 7%;
    margin-left: 13%;
    text-align: center;

}

fieldset{
    margin-right: 205px;
    padding: 7px;
}