body{
    background-color: rgb(24, 17, 8);
    text-align: center;
    border: 7px solid rgb(187, 173, 173);
}

div {
    position: center;
    background-color: rgb(22, 183, 211);
    text-align: left;
    border: 7px solid rgb(187, 173, 173);
    font-size: 100%;
    padding: 15px;
    margin: 50px;
    padding: 10px 0 10px 20px;
    

  }

  ul {
      list-style-type: disc;
      padding: 20px;
  }
  
  